<div class="form-group m-form__group row">
    <label for="example-text-input" class="col-2 col-form-label">
      Full Name
    </label>
    <div class="col-lg-7">
      <input class="form-control m-input" type="text" value="{{ user?.fullName }}" readonly="!isAdmin">
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label for="example-text-input" class="col-2 col-form-label">
      Email
    </label>
    <div class="col-lg-7">
      <input class="form-control m-input" type="text" value="{{ user?.email }}" readonly="!isAdmin">
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label for="example-text-input" class="col-2 col-form-label">
      Role
    </label>
    <div class="col-lg-7">
      <input class="form-control m-input" type="text" value="{{ role | role }}" readonly="!isAdmin">
    </div>
  </div>
  <div class="form-group m-form__group row">
    <label for="example-text-input" class="col-2 col-form-label">
      Department
    </label>
    <div class="col-lg-7">
      <input class="form-control m-input" type="text" value="{{ user?.departmentId?.title}}" readonly="!isAdmin">
    </div>
  </div>