<!-- requests can update by dulead  -->
<div *ngIf="isCanUpdate()" class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- BEGIN: Subheader -->
  <div class="m-content">
    <div class="m-form__content" *ngIf="isUpdateSuccess">
      <div class="m-alert m-alert--icon alert alert-success" id="m_form_1_msg" role="alert">
        <div class="m-alert__icon">
          <i class="la la-success"></i>
        </div>
        <div class="m-alert__text">
          Update successfully!
        </div>
        <div class="m-alert__close">
          <button aria-label="Close" class="close" data-close="alert" type="button"></button>
        </div>
      </div>
    </div>
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              {{currentUser?.departmentId?.title}}
              <span> Department</span>
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <button type="submit" class="btn btn-success m-btn--icon m-btn--air" (click)="navRequestCreate()">
            <span>
              <i class="la la-plus"></i>
              <span>
                New Request
              </span>
            </span>
          </button>
        </div>
      </div>
      <form class="m-form m-form--label-align-right" [formGroup]="form" (ngSubmit)="onUpdate()">
        <div class="m-form__content">
          <div class="m-alert m-alert--icon alert alert-danger" *ngIf="request && request.requestStatusId.title === 'Rejected'" role="alert">
            <div class="m-alert__icon">
              <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
              This request was rejected by GROUP Lead, the reason is: " {{ request?.rejectReason }} "
            </div>
            <div class="m-alert__close">
              <button type="button" class="close" data-close="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
              <h3 class="m-form__heading-title">
                General information
              </h3>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-12">
                <label class="col-form-label required" for="title">
                  Title
                </label>
                <div>
                  <input required name="title" maxlength="255" class="form-control m-input" id="title" formControlName="title">
                  <div *ngIf="title.invalid && (title.dirty || title.touched || isSubmitted)" class="error">
                    <div *ngIf="title.errors.required">
                      Title is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-md-5">
                <label class="col-form-label required" for="position">
                  Position
                </label>
                <div>
                  <select id="position" formControlName="position" class="form-control m-input">
                    <option *ngFor="let item of allPositions" value={{item?.id}}>
                      {{ item?.title | summary: 30 }}
                    </option>
                  </select>
                  <div *ngIf="position.invalid && (position.dirty || position.touched || isSubmitted)" class="error">
                    <div *ngIf="position.errors.required">
                      Position is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <label class="col-form-label required" for="number">
                  Number
                </label>
                <div>
                  <input required type="number" class="form-control m-input" id="number" formControlName="number" (ngModelChange)="numberChange($event)"
                    OnlyNumber>
                  <div class="error" *ngIf="(number.touched || isSubmitted) && number.invalid">
                    <div *ngIf="number.errors.required">
                      Number is required
                    </div>
                    <div *ngIf="number.errors.min">
                      Min: 1
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <label class="col-form-label required" for="deadline">
                  Deadline
                </label>
                <div>
                  <div class="input-group">
                    <input class="form-control m-input" id="deadline" formControlName="deadline" readonly ngbDatepicker #d2="ngbDatepicker" [minDate]="{year: 1900, month: 01, day: 01}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary my-btn-group" (click)="d2.toggle()" type="button" style="padding:4px;">
                        <i class="la la-calendar" style="color: black; font-size:2rem;"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="deadline.invalid && (deadline.dirty || deadline.touched || isSubmitted)" class="error">
                    <div *ngIf="deadline.errors.required">
                      Deadline is required.
                    </div>
                    <div *ngIf="deadline.errors.minDate">
                      Deadline must be greater than today.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-md-5">
                <label class="col-form-label required" for="project">
                  Project
                </label>
                <div>
                  <select id="project" formControlName="project" class="form-control m-input">
                    <option *ngFor="let item of allProjects" value={{item?.id}}>
                      {{ item?.title | summary: 30 }}
                    </option>
                  </select>
                  <div *ngIf="project.invalid && (project.dirty || project.touched || isSubmitted)" class="error">
                    <div *ngIf="project.errors.required">
                      Project is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <label class="col-form-label required" for="recruitment-type">
                  Request type
                </label>
                <div>
                  <select id="recruitment-type" formControlName="recruitmentType" class="form-control m-input">
                    <option *ngFor="let item of allRecruitmentTypes" value={{item?.id}}>
                      {{ item?.title | summary: 30 }}
                    </option>
                  </select>
                  <div *ngIf="recruitmentType.invalid && (recruitmentType.dirty || recruitmentType.touched || isSubmitted)" class="error">
                    <div *ngIf="recruitmentType.errors.required">
                      Request type is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <label class="col-form-label required" for="priority">
                  Priority
                </label>
                <div>
                  <select id="priority" formControlName="priority" class="form-control m-input">
                    <option *ngFor="let item of allPrioritys" value={{item?.id}}>
                      {{ item?.title | summary: 20 }}
                    </option>
                  </select>
                  <div *ngIf="priority.invalid && (priority.dirty || priority.touched || isSubmitted)" class="error">
                    <div *ngIf="priority.errors.required">
                      Priority type is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-form__seperator m-form__seperator--dashed"></div>
          <div class="m-form__section m-form__section--second">
            <div class="m-form__heading">
              <h3 class="m-form__heading-title">
                Requirements
              </h3>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-12">
                <label for="skill" class="required">
                  Skills
                </label>
                <div>
                  <!-- <select formControlName="skills" class="form-control m-select2" id="skills" multiple>
                    <option></option>
                    <option *ngFor="let item of allSkills" [ngValue]="item?.id">
                      {{item?.title}}
                    </option>
                  </select> -->
                  <ng-select id="skill" [items]="allSkills" bindLabel="title" bindValue="id" [multiple]="true" maxSelectedItems=5 placeholder="Select skills"
                    clearAllText="Clear" formControlName="skills">
                  </ng-select>
                  <div *ngIf="skills.invalid && (skills.dirty || skills.touched || isSubmitted)" class="error">
                    <div *ngIf="skills.errors.required">
                      Skill is required.
                    </div>
                  </div>
                  <!-- <div *ngIf="!skillsFieldIsValid() && (skills.dirty || skillsIsTouched || isSubmitted)" class="error">
                      <div *ngIf="!skillsFieldIsValid()">
                           Skills is required.
                      </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-12">
                <label for="experience" class="required">
                  Experience
                </label>
                <select id="experience" formControlName="experience" class="form-control m-input">
                  <option *ngFor="let item of allExperiences" value={{item?.id}}>
                    {{ item?.title | summary: 30 }}
                  </option>
                </select>
                <div *ngIf="experience.invalid && (experience.dirty || experience.touched || isSubmitted)" class="error">
                  <div *ngIf="experience.errors.required">
                    Experience is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-12">
                <label for="description" class="required">
                  Description
                </label>
                <textarea required maxlength="3000" name="description" class="form-control m-input" id="description" rows="3" formControlName="description"></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched || isSubmitted)" class="error">
                  <div *ngIf="description.errors.required">
                    Description is required.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-12">
                <label for="foreignLanguage">
                  Foreign languages:
                </label>
                <div>
                  <!-- <select formControlName="foreignLanguage" class="form-control m-select2" id="foreignLanguage" name="param" multiple>
                    <option></option>
                    <option *ngFor="let item of allForeignLanguages" [ngValue]="item?.id">
                      {{item?.title}}
                    </option>
                  </select> -->
                  <ng-select id="foreignLanguage" [items]="allForeignLanguages" bindLabel="title" bindValue="id" [multiple]="true" placeholder="Select foreign languages"
                    clearAllText="Clear" formControlName="foreignLanguage">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="form-group m-form__group">
              <label for="certificate">
                Certificate
              </label>
              <input maxlength="255" class="form-control m-input" id="certificate" formControlName="certificate">
            </div>

            <div class="form-group m-form__group">
              <label for="major">
                Major
              </label>
              <input maxlength="255" class="form-control m-input" id="major" formControlName="major">
            </div>

            <div class="form-group m-form__group">
              <label for="others">
                Others
              </label>
              <textarea maxlength="3000" class="form-control m-input" id="others" rows="3" formControlName="others"></textarea>
            </div>
          </div>
          <div class="m-form__seperator m-form__seperator--dashed"></div>
          <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
              <h3 class="m-form__heading-title">
                Salary, benefit
              </h3>
            </div>
            <div class="form-group m-form__group">
              <label for="salary">
                Salary
              </label>
              <input maxlength="255" class="form-control m-input" id="salary" formControlName="salary">
            </div>
            <div class="form-group m-form__group">
              <label for="benefit">
                Benefit
              </label>
              <textarea maxlength="3000" class="form-control m-input" id="benefit" rows="3" formControlName="benefit"></textarea>
            </div>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions m-form__actions">
            <button type="submit" class="btn btn-success">
              Update
            </button>
            <button type="button" (click)="onClone()" class="btn btn-brand">
              Clone
            </button>
            <button type="button" (click)="onReset()" class="btn btn-warning">
              Reset
            </button>
            <button type="button" (click)="onCancel()" class="btn btn-secondary">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- requests only view -->
<div *ngIf="!isCanUpdate()" class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          Requests
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="#" class="m-nav__link" (click)="navRequestList()">
              <span class="m-nav__link-text">
                Requests
              </span>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="#" class="m-nav__link">
              <span class="m-nav__link-text">
                Detail
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m-content">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              {{currentUser?.departmentId?.title}}
              <span> Department</span>
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <button type="submit" class="btn btn-success m-btn--icon m-btn--air" (click)="navRequestCreate()">
            <span>
              <i class="la la-plus"></i>
              <span>
                New Request
              </span>
            </span>
          </button>
        </div>
      </div>
      <form class="m-form m-form--label-align-right" [formGroup]="form">
        <div class="m-portlet__body">
          <div class="m-form__section m-form__section--first">
            <div class="m-form__heading">
              <h3 class="m-form__heading-title">
                Job title and department info
              </h3>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-12">
                <label class="col-form-label" for="title">
                  Title*:
                </label>
                <div>
                  <input readonly class="form-control m-input" id="title" formControlName="title">
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-md-5">
                <label class="col-form-label" for="position">
                  Position*:
                </label>
                <div>
                  <input readonly id="position" formControlName="position" class="form-control m-input">
                </div>
              </div>
              <div class="col-md-2">
                <label class="col-form-label" for="number">
                  Number*:
                </label>
                <div>
                  <input readonly class="form-control m-input" id="number" type="number" formControlName="number" (ngModelChange)="numberChange($event)"
                    OnlyNumber>
                </div>
              </div>
              <div class="col-md-5">
                <label class="col-form-label" for="deadline">
                  Deadline*:
                </label>
                <div>
                  <input readonly class="form-control m-input" id="deadline" formControlName="deadline">
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-md-5">
                <label class="col-form-label" for="project">
                  Project*:
                </label>
                <div>
                  <input readonly id="project" formControlName="project" class="form-control m-input">
                </div>
              </div>
              <div class="col-md-2">
                <label class="col-form-label" for="recruitment-type">
                  Request type*:
                </label>
                <div>
                  <input readonly id="recruitment-type" formControlName="recruitmentType" class="form-control m-input">
                </div>
              </div>
              <div class="col-md-5">
                <label class="col-form-label" for="priority">
                  Priority*:
                </label>
                <div>
                  <input readonly id="priority" formControlName="priority" class="form-control m-input">
                </div>
              </div>
            </div>
          </div>
          <div class="m-form__seperator m-form__seperator--dashed"></div>
          <div class="m-form__section m-form__section--second">
            <div class="m-form__heading">
              <h3 class="m-form__heading-title">
                Requirements
              </h3>
            </div>
            <div class="form-group m-form__group">
              <label for="skill">
                Skills*:
              </label>
              <div>
                <ng-select [clearable]="false" id="skill" [items]="allSkills" bindLabel="title" bindValue="id" [multiple]="true" placeholder="Select skills"
                  clearAllText="Clear" formControlName="skills" class="custom" [searchable]="false">
                </ng-select>
              </div>
            </div>

            <div class="form-group m-form__group">
              <label for="experience">
                Experience*:
              </label>
              <input readonly id="experience" formControlName="experience" class="form-control m-input">
            </div>
            <div class="form-group m-form__group">
              <label for="description">
                Description*:
              </label>
              <textarea readonly class="form-control m-input" id="description" rows="3" formControlName="description"></textarea>
            </div>

            <div class="form-group m-form__group">
              <label for="foreignLanguage">
                Foreign languages:
              </label>
              <div>
                <ng-select [clearable]="false" id="foreignLanguage" [items]="allForeignLanguages" bindLabel="title" bindValue="id" [multiple]="true"
                  placeholder="Select foreign languages" clearAllText="Clear" formControlName="foreignLanguage" class="custom"
                  [searchable]="false">
                </ng-select>
              </div>
            </div>

            <div class="form-group m-form__group">
              <label for="certificate">
                Certificate
              </label>
              <input readonly class="form-control m-input" id="certificate" formControlName="certificate">
            </div>

            <div class="form-group m-form__group">
              <label for="major">
                Major
              </label>
              <textarea readonly class="form-control m-input" id="major" rows="3" formControlName="major"></textarea>
            </div>

            <div class="form-group m-form__group">
              <label for="others">
                Others
              </label>
              <textarea readonly class="form-control m-input" id="others" rows="3" formControlName="others"></textarea>
            </div>
          </div>
          <div class="m-form__seperator m-form__seperator--dashed"></div>
          <div class="m-form__section m-form__section--last">
            <div class="m-form__heading">
              <h3 class="m-form__heading-title">
                Salary, benefit
              </h3>
            </div>
            <div class="form-group m-form__group">
              <label for="salary">
                Salary
              </label>
              <input readonly class="form-control m-input" id="salary" formControlName="salary">
            </div>
            <div class="form-group m-form__group">
              <label for="benefit">
                Benefit
              </label>
              <textarea readonly class="form-control m-input" id="benefit" rows="3" formControlName="benefit"></textarea>
            </div>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions m-form__actions">
            <button type="button" (click)="onClone()" class="btn btn-brand">
              Clone
            </button>
            <button type="button" (click)="onCancel()" class="btn btn-secondary">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>