<form [formGroup]="formCandidateStatus" (ngSubmit)="onSubmit()">
  <div class="form-group m-form__group row">
    <label class="col-form-label col-lg-3 col-sm-12 required">
      Title
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control m-input" formControlName="title" maxlength="255" placeholder="Enter candidate status's title"
          [(ngModel)]="candidateStatusService.getCandidateStatus().title" (blur)="validateTitle()">
        <div class="error-no-padding" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.hasError('required') || title.hasError('notEmpty')">
            Title is required.
          </div>
          <div *ngIf="title.hasError('notEmpty')">
            {{ title.errors.notEmpty }}
          </div>
          <div *ngIf="title.hasError('shouldBeUnique')">
            Title should be unique.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-form__group row" style="margin-top:4%">
    <label class="col-form-label col-lg-3 col-sm-12">
      Description
    </label>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="input-group">
        <textarea type="text" class="form-control m-input" row="4" formControlName="description" maxlength="255" placeholder="Enter candidate status's description"
          [(ngModel)]="candidateStatusService.getCandidateStatus().description"></textarea>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary">
      Update
    </button>
    <button type="button" class="btn" data-dismiss="modal">
      Cancel
    </button>
  </div>
</form>