/************ COLOR PALETTE ****************/
$key-color: #0b8fdb;
$background-color: #f4f4f4; // main background
$background-color-title: #dee0e0; // title, header table background
$border-color: #a7a9ac;
$text-color: #414042;
/*************** TEXT ****************/
$font-size-default: 11px;
$font-weight-default: 400;
/****************** BORDER ****************/
$border: 1px solid $border-color;