<!-- BEGIN: Subheader -->
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        CV
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a href="#" class="m-nav__link m-nav__link--icon" (click)="navCvList()">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a href="" class="m-nav__link" (click)="navCvList()">
            <span class="m-nav__link-text">
              List
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon m--hide">
              <i class="la la-gear"></i>
            </span>
            <!-- <h6 class="text-success">
              {{ message }}
            </h6> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">

      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                CV - {{ cv?.fullName | summary: 40 }}
              </h3>
            </div>
          </div>
        </div>
        <!--begin::Form-->
        <form [formGroup]="form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row">
              <!-- BEGIN::MESSAGE -->
              <div class="col-12" *ngIf="messageChooseImage.length > 0">
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
                  <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                  {{ messageChooseImage }}
                </div>
              </div>
              <!-- END::MESSAGE -->
              <!-- BEGIN::MESSAGE -->
              <div class="col-12" *ngIf="messageCreateCvError.length > 0">
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
                  <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                  {{ messageCreateCvError }}
                </div>
              </div>
              <!-- END::MESSAGE -->
              <!-- BEGIN::MESSAGE -->
              <div class="col-12" *ngIf="messageCreateCvSuccess && messageCreateCvSuccess.length > 0">
                <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                  <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                  {{ messageCreateCvSuccess }}
                </div>
              </div>
              <!-- END::MESSAGE -->
              <!-- BEGIN::MESSAGE -->
              <!-- <div class="col-12" *ngIf="arrObjectCheck && arrObjectCheck.length > 0">
                <div class="m-alert m-alert--outline alert alert-success alert-dismissible fade show" role="alert">
                  <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
                  <ul>
                    <li *ngFor="let item of arrObjectCheck">{{ item.name }} | {{ item.message }}</li>
                  </ul>
                </div>
              </div> -->
              <!-- END::MESSAGE -->
              <!-- BEGIN::CV-INFO -->
              <div class="col-12">
                <div class="row cv-section-avatar">
                  <div class="col-md-2">
                    <div class="m-card-profile__pic cv-avatar">
                      <input type="file" style="display: none;" id="uploadAvatar" (change)="onChangeAvatar($event)" accept=".jpg, .png, .jpeg">
                      <i class="la la-edit btn-avatar-edit" (click)="openAvatarBrowser()"></i>
                      <div class="m-card-profile__pic-wrapper ">
                        <img src="{{ avatarBase64 }}" alt="" *ngIf="avatarBase64" class="cv-avatar__img" />
                        <img src="{{ cv?.profileImg | resourcePublic }}" alt="avatar" class="cv-avatar__img" *ngIf="!avatarBase64" onError="this.onerror=null;this.src='./assets/app/media/img/misc/user-avatar-default.jpg';"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- BEGIN::FULL NAME -->
                    <div class="row">
                      <div class="col-12">
                        <label for="fullName" class="col-form-label required">Full name</label>
                        <input type="text" class="form-control m-input" placeholder="Full name" id="fullName" formControlName="fullName" [maxlength]="constraints.varcharMaxLength">
                        <div class="error">
                          <div *ngIf="fullName.touched && fullName.hasError('required')">
                            Full name is required.
                          </div>
                          <div *ngIf="fullName.hasError('invalidFormat')">
                            Letter only.
                          </div>
                          <div *ngIf="fullName.hasError('minlength') && !fullName.hasError('invalidFormat')">
                            {{ constraints.nameMinLength }} - {{ constraints.nameMaxLength }} letters.
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END:: FULL NAME -->
                  </div>
                  <div class="col-md-4">
                    <!-- BEGIN::PHONE -->
                    <div class="row">
                      <div class="col-12">
                        <label class="col-form-label">
                          Phone number
                        </label>
                        <input type="text" class="form-control m-input" placeholder="Phone number" [maxlength]="constraints.phoneMaxLength" formControlName="phone">
                        <!-- <div class="error" *ngIf="phone.touched && phone.invalid"> -->
                        <div *ngIf="phone.hasError('invalidFormat')" class="error">
                          Number only.
                        </div>
                        <!-- </div> -->
                      </div>
                    </div>
                    <!-- END::PHONE -->
                  </div>
                </div>
                <div class="row cv-section-info">
                  <!-- BEGIN::1st COLUMN -->
                  <div class="col-md-4 field-set">
                    <fieldset>
                      <!-- BEGIN::BASIC INFO -->
                      <p class="cv-section-title">
                        BASIC INFORMATION
                      </p>
                      <!-- END::BASIC INFO -->

                      <!-- BEGIN::BIRTHDAY -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label">
                            <!-- <i class="la la-calendar"></i> -->
                            Date of birth
                          </label>
                          <div>
                            <div class="input-group">
                              <input class="form-control m-input" placeholder="Birthday" ngbDatepicker #d="ngbDatepicker" readonly formControlName="dob"
                                [startDate]="maxDate" [minDate]="{ year: 1900, month: 1, day: 1 }" [maxDate]="maxDate">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar-button" (click)="d.toggle()" type="button">
                                  <img _ngcontent-c2="" src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;">
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END::BIRTHDAY -->
                      <!-- BEGIN::GENDER -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label">
                            <!-- <i class="la la-user"></i> -->
                            Gender
                          </label>
                          <div class="m-radio-inline">
                            <label class="m-radio">
                              <input name="gender" class="form-control m-input" type="radio" value="1" formControlName="gender"> Male
                              <span></span>
                            </label>
                            <label class="m-radio">
                              <input name="gender" class="form-control m-input" type="radio" value="0" formControlName="gender"> Female
                              <span></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- END::GENDER -->

                      <!-- BEGIN::EMAIL -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label" for="email">
                            <!-- <i class="la la-envelope"></i> -->
                            Email
                          </label>
                          <input type="email" class="form-control m-input" placeholder="Email" id="email" formControlName="email" (blur)="checkEmail()"
                            [maxlength]="constraints.varcharMaxLength">
                          <div class="error">
                            <div *ngIf="email.hasError('exist')">
                              CV with this email exists.
                              <a href="#" (click)="viewCvDetailDuplicateEmail()">View detail.</a>
                            </div>
                            <div *ngIf="email.hasError('invalidFormat')">
                              Please enter valid email.
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END::EMAIL -->

                      <!-- BEGIN::Position -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label" for="position" ngbTooltip="Dev, senior C, junior java, etc">
                            Position
                          </label>
                          <input type="text" class="form-control m-input" placeholder="Position" id="position" formControlName="position" [maxlength]="constraints.varcharMaxLength">
                          <div class="error">
                            <div *ngIf="position.hasError('invalidFormat')">
                              Letter only.
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END::position -->

                      <!-- BEGIN::ADDRESS -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label" for="address">
                            <!-- <i class="la la-map-marker"></i> -->
                            Address
                          </label>
                          <textarea type="text" class="form-control m-input" placeholder="Address" id="address" rows="2" formControlName="address"
                            [maxlength]="constraints.unicodeMaxLength"></textarea>
                        </div>
                      </div>
                      <!-- END::ADDRESS -->
                    </fieldset>
                  </div>
                  <!-- END::1st COLUMN -->

                  <!-- BEGIN::2ND COLUMN -->
                  <div class="col-md-4 field-set">
                    <fieldset>
                      <p class="cv-section-title">
                        SOCIAL
                      </p>
                      <!-- BEGIN::FACEBOOK -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label" for="facebook">
                            <!-- <i class="la la-facebook"></i> -->
                            Facebook
                          </label>
                          <input type="text" class="form-control m-input" placeholder="Facebook" id="facebook" formControlName="facebook" (blur)="checkFacebook()"
                            [maxlength]="constraints.varcharMaxLength">
                          <div class="error" *ngIf="facebook.touched && facebook.invalid">
                            <div *ngIf="facebook.errors.exist">
                              CV with this facebook exists.
                              <a href="#" (click)="viewCvDetailDuplicateFacebook()">View detail.</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END::FACEBOOK -->

                      <!-- BEGIN::SKYPE -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label" for="skype">
                            Skype
                          </label>
                          <input type="text" class="form-control m-input" placeholder="Skype" id="skype" formControlName="skype" (blur)="checkSkype()"
                            [maxlength]="constraints.varcharMaxLength">
                          <div class="error" *ngIf="skype.touched && skype.invalid">
                            <div *ngIf="skype.errors.exist">
                              CV with this skype exists.
                              <a href="#" (click)="viewCvDetailDuplicateSkype()">View detail.</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END::SKYPE -->

                      <!-- BEGIN::LINKEDIN -->
                      <div class="row">
                        <div class="col-12">
                          <label class="col-form-label" for="linkedin">
                            <!-- <i class="la la-linkedin"></i> -->
                            Linkedin
                          </label>
                          <input type="text" class="form-control m-input" placeholder="Linkedin" id="linkedin" formControlName="linkedin" (blur)="checkLinkedin()"
                            [maxlength]="constraints.varcharMaxLength">
                          <div class="error" *ngIf="linkedin.touched && linkedin.invalid">
                            <div *ngIf="linkedin.errors.exist">
                              CV with this linkedin exists.
                              <a href="#" (click)="viewCvDetailDuplicateLinkedin()">View detail.</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END::LINKEDIN -->
                    </fieldset>
                  </div>
                  <!-- END::2ND COLUMN -->

                  <!-- BEGIN::3RD COLUMN -->
                  <div class="col-md-4 field-set">
                    <fieldset>
                      <p class="cv-section-title">
                        <!-- <i class="la la-list"></i> -->
                        EXPERIENCE & SKILLS
                      </p>
                      <!-- BEGIN::WORK EXPERIENCE -->
                      <div class="row">
                        <div class="col-12">
                          <label for="workExperence" class="col-form-label">
                            Work experience
                          </label>
                          <select name="experience" id="experience" class="form-control m-input" formControlName="experience">
                            <option *ngFor="let exp of experienceList" [value]="exp.id">
                              {{ exp.title | summary: 30 }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- END::WORK EXPERIENCE -->

                      <!-- BEGIN::SKILLS -->
                      <div class="row">
                        <div class="col-12">
                          <label for="skills" class="col-form-label">Skills</label>
                          <ng-select [items]="skillList" bindLabel="title" bindValue="id" [multiple]="true" placeholder="Select skills" clearAllText="Clear"
                            formControlName="skillCollection" class="custom">
                          </ng-select>
                        </div>
                      </div>
                      <!-- END::SKILLS -->
                      <!-- BEGIN::Certifications -->
                      <div class="row">
                        <div class="col-12">
                          <label for="skills" class="col-form-label">Certification</label>
                          <ng-select [items]="certificationList" bindLabel="title" bindValue="id" [multiple]="true" placeholder="Select certifications"
                            clearAllText="Clear" formControlName="certificationColection" class="custom">
                          </ng-select>
                        </div>
                      </div>
                      <!-- END::Certifications -->

                      <!-- BEGIN::EDUCATION -->
                      <div class="row">
                        <div class="col-12">
                          <label for="education" class="col-form-label">Education</label>
                          <input type="text" class="form-control m-input" placeholder="Education" formControlName="education" [maxLength]="constraints.varcharMaxLength"
                            id="education">
                        </div>
                      </div>
                      <!-- END::EDUCATION -->

                      <!-- BEGIN::NOTE -->
                      <div class="row">
                        <div class="col-12">
                          <label for="note" class="col-form-label">Note</label>
                          <textarea class="form-control m-input" id="note" rows="5" placeholder="Give your note here ..." formControlName="note" [maxlength]="constraints.unicodeMaxLength"></textarea>
                        </div>
                      </div>
                      <!-- END::NOTE -->
                    </fieldset>
                  </div>
                  <!-- END::3RD COLUMN -->
                </div>
              </div>
              <!-- END::CV-INFO -->

              <!-- BEGIN:: CV-FILE -->
              <div class="col-6 cv-file-section">

                <div class="row">
                  <div class="col-12">
                    <label for="cvUrl" class="col-form-label">
                      CV files
                    </label>
                    <div class="input-group">
                      <input class="form-control" placeholder="Add cv file..." type="text" readonly>
                      <div class="input-group-append">
                        <button class="btn btn-primary my-btn-group" type="button" (click)="openCvBrowser()">
                          Add file
                        </button>
                      </div>
                    </div>
                    <input type="file" id="cvUrl" multiple class="custom-file-input hide-it" formControlName="cvUrlCollection" (change)="onChangeCvFile($event)"
                      accept=".pdf, .doc, .docx, .xls, .xlsx">
                  </div>
                  <div class="col-12">
                    <table>
                      <tr *ngFor="let item of cv?.cvUrlCollection">
                        <td [ngClass]="item.tobeDeleted ? 'strike-through' : ''" (click)="viewFileCv(item.url)" ngbTooltip='click open file' style="cursor: pointer;">{{ item.url | summary: 50}}</td>
                        <td>{{ item.tobeDeleted ? 'To be deleted' : 'Current'}}</td>
                        <td>
                          <i [ngClass]="item.tobeDeleted ? 'la la-plus green pointer' : 'la la-trash pointer red'" (click)="toggleCvUrl(item)"></i>
                        </td>
                      </tr>
                      <tr *ngFor="let item of cvFilesCheckResults">
                        <td [ngClass]="item.message !== 'valid'? 'strike-through' : ''">{{ item.name | summary: 30}}</td>
                        <td>{{ item.message }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END:: CV-FILE -->

            </div>
          </div>

        </form>
        <!--end::Form-->

        <!-- begin::footer -->
        <div class="m-portlet__body row">
          <div class="col-12">
            <div class="m-form__actions">
              <button class="btn btn-primary" type="button" [disabled]="form.invalid || loading" (click)="onSubmit()">
                Submit
              </button>
              <button class="btn btn-warning" type="reset" [disabled]="loading" (click)="onReset()">
                Reset
              </button>
              <button class="btn btn-secondary" type="button" [disabled]="loading" (click)="onCancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <!-- end::footer -->

        <!-- History::footer -->
        <div *ngIf="listRequestHistory && listRequestHistory?.length >0" class="m-portlet__foot row" style="min-height: 200px;">
          <div class="col-12">
            <label for="history" class="col-form-label">
              Make candidate history
            </label>
            <ul *ngFor="let item of listRequestHistory">
              <li>{{item}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>