
#reset-password-component {
    margin-top: 10%;
    font-size: 1.2rem;
}
#reset-password-component form {
    min-width: 400px;
    width: 50%;
}
.container {
    display: flex;
    justify-content: center;
}
mat-form-field {
    min-width: 300px;
}
.result {
    min-width: 300px;
    width: 40%;
}