<div class="m-login__forget-password">
  <div class="m-login__head">
    <h3 class="m-login__title">
      Forgotten Password ?
    </h3>
  </div>
  <!-- FORGOT PASSWORD FORM -->
  <form [formGroup]="form" class="m-login__form m-form" action="">
    <ng-template #alertForgotPass></ng-template>
    <div class="form-group m-form__group">
      <p *ngIf="message.length > 0" style="color: red; font-size: 1rem; text-align: center;">{{ message }}</p>
    </div>
    <div class="form-group m-form__group">
      <input class="form-control m-input" type="text" placeholder="Email" name="email" formControlName="email" id="m_email" autocomplete="off">
      <div *ngIf="email.touched && email.invalid" class="error-no-padding">
        Please enter a valid email.
      </div>
    </div>
    <div class="m-login__form-action">
      <button [disabled]="loading || form.invalid" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit"
        class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" (click)="resetPassword()">
        Request
      </button>
      <button [disabled]="loading" id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom"
        (click)="displaySignInForm()">
        Cancel
      </button>
    </div>
  </form>
  <!-- END::FORGOT PASSWORD FORM -->
  <!-- <div class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-success fade show" role="alert">
    <p>FOR DEMO PURPOSE:
      <br> Click the following email
      <br> to fill in the reset form:
      <br>
      <a href="#" (click)="initResetPassForm(demoEmail)" #demoEmail>ldthien@cmc.com.vn</a>
    </p>
  </div> -->
</div>