<div>
  <!-- <app-tab [tabs]="tabs" (tabSelected)="switchTab($event)"> -->
  <div class="candidate-list-section-center">
    <div *ngFor="let candidate of interview?.candidateCollection" class="candidate-list-item-center" [ngClass]="{ selected: candidate?.id === (currentCandidateId$ | async) }"
      (click)="selectCandidate(candidate)">
      <app-candidate-list-card style="display: flex; flex: 1;" [cv]="candidate?.cvId" [status]="candidate?.statusId" [candidate]="candidate?.id">

      </app-candidate-list-card>
    </div>
    <p *ngIf="interview?.candidateCollection?.length === 0" class="no-candidate">
      There are no candidates!
    </p>
  </div>
  <!-- </app-tab> -->
</div>