<form [formGroup]="form" id="change-pass-form" class="m-form form-horizontal m-form--label-align-right">
  <div>
    <div class="form-group m-form__group row m--margin-top-10">
      <div class="col-3"></div>
      <div class="col-7">
        <div *ngIf="resultMessage && !resultMessage.hasError" class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-success fade show"
          role="alert">
          <!-- DO NOT delete the leading space of message -->
          {{ resultMessage.message + timer + ' seconds.' }}
        </div>
        <div *ngIf="resultMessage !== null && resultMessage.hasError" class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-danger fade show">
          {{ resultMessage.message }}
        </div>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <label for="example-text-input" class="col-3 col-form-label">
        Current password
      </label>
      <div class="col-7">
        <input class="form-control m-input" type="password" maxlength="32" formControlName="currentPassword" name="currentPassword">
        <div class="error" *ngIf="currentPassword.touched && currentPassword.invalid">
          Please enter current password
        </div>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <label for="example-text-input" class="col-3 col-form-label">
        New password
      </label>
      <div class="col-7">
        <input class="form-control m-input" formControlName="newPassword" type="password" maxlength="32" name="newPassword">
        <div *ngIf="newPassword.touched && newPassword.invalid">
          <div class="error" *ngIf="newPassword.hasError('duplicateCurrentPassword')">
            New password must be different old password
          </div>
          <div class="error" *ngIf="newPassword.hasError('required')">
            New password is required
          </div>
          <div class="error" *ngIf="newPassword.hasError('minlength')">
            Invalid length. Password must be at least {{ newPassword.errors.minlength.requiredLength }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group m-form__group row">
      <label for="example-text-input" class="col-3 col-form-label">
        Confirm password
      </label>
      <div class="col-7">
        <input class="form-control m-input" formControlName="newPasswordConfirmation" [maxlength]="32" type="password" name="newPasswordConfirmation">
        <div *ngIf="newPasswordConfirmation.touched && newPasswordConfirmation.invalid">
          <div class="error" *ngIf="newPasswordConfirmation.hasError('matchpassword')">
            Password confirmation does not match
          </div>
          <div class="error" *ngIf="newPasswordConfirmation.hasError('required')">
            Password confirmation is required
          </div>
        </div>
      </div>
    </div>
    <div class="row m--margin-bottom-20 m--margin-top-20">
      <div class="col-3"></div>
      <div class="col-7">
        <button type="button" (click)="onSubmit()" class="btn btn-accent m-btn m-btn--air m-btn--custom" [disabled]="!form.touched || form.invalid">
          Save changes
        </button>
        &nbsp;&nbsp;
        <button type="button" (click)="onReset()" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
          Reset
        </button>
      </div>
    </div>

  </div>
</form>