.rts-interview-title {
  height: 22px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  margin-bottom: 0;
}
.active > .rts-interview-title {
  font-weight: 600;
  color: #212529;
}
.active {
  border-bottom: solid 2px #1434f7;
}
.rts-interview-time {
  height: 24.46218490600586px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0833333333333335;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  margin-bottom: 5px;
}
.rts-tab-header_item {
  min-width: 320px;
}
.rts-tab-underline {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #9b9b9ba0;
}